#logo {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: .75rem;
    left: 2rem;
}

.header-cell-logo {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 20%;
    align-content: center;
}

.header-cell-text {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 60%;
    align-content: center;
}

.header-cell-page {
    border-width: .125rem;
    border-style: solid;
    border-color: var(--header-borders);
    border-top: 0;
    border-bottom: 0;
    box-sizing: border-box;
    margin: -.375rem;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
}

#footer-gold {
    color: var(--mc-gold);
}

#ee0 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    cursor: not-allowed;
    color: var(--jigsaw-gray);
    opacity: 0;
    right: 1rem;
    margin-top:-2rem;
}

@media only screen and (max-width: 55rem) {

    #logo {
        left: 1rem;
    }

    .header-cell-text {
        width: 80%;
    }

}