html {
    background-color: #271C2A;
    color: #D7C2D7;
    font-family: serif;
    font-size: 100%;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: #111111;
    color: white;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
}

#logo {
    width: 3rem;
    height: 3rem;
    position: absolute;
    top: .75rem;
    left: 2rem;
}

img {
    width: 100%;
}

#logoimg {
    width: 3rem;
    height: 3rem;
}

.sel-page {
    color: white;
}

#footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: #111111;
    font-size: 1rem;
    text-align: center;
}

#footer-gold {
    color: #FFAA00;
    font-weight: normal;
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article {
    flex: 1;
}

a {
    color: #D7C2D7;
    font-weight: bold;
    text-decoration: none;
}

.center {
    text-align: center;
}

h1 {
    margin: 0;
    text-align: center;
    font-family: sans-serif;
}

.card-table {
    width: 100%;
    margin: 0;
}

.card-table-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.card-wrap {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 50%;
    align-content: center;
}

.card-wrap-full {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 100%;
    align-content: center;
}

.card-wrap-mid {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 50%;
    margin-left: 25%;
    align-content: center;
}

.card-wrap-item {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 25%;
    align-content: center;
}

@media only screen and (max-width: 1000px) {

    .card-wrap-item {
        width: 50%;
    }

    .card-wrap-mid {
        margin-left: 0;
        width: 100%;
    }

}

@media only screen and (max-width: 880px) {

    .card-wrap {
        width: 100%;
    }

    .card-wrap-item {
        width: 100%;
    }

}

.card {
    background-image:radial-gradient(#420666, #210333);
    box-shadow: 0 0 .3rem .3rem black;
    margin: 2rem;
    padding: 1rem;
}

.item-card {
    background-image:radial-gradient(#420666, #210333);
    box-shadow: 0 0 .3rem .3rem black;
    margin: 2rem;
    padding: 1rem;

}

button {
    font-size: large;
    background-color: #222222;
    color: white;
    padding: .2rem .5rem .2rem .5rem;
    border-top: .2rem solid #333333;
    border-left: .2rem solid #333333;
    border-right: .2rem solid #000000;
    border-bottom: .2rem solid #000000;
    cursor: pointer;
}

.button {
    font-size: large;
    background-color: #222222;
    color: white;
    padding: .2rem .5rem .2rem .5rem;
    border-top: .2rem solid #333333;
    border-left: .2rem solid #333333;
    border-right: .2rem solid #000000;
    border-bottom: .2rem solid #000000;
}

.item-name {
    font-size: 1.25rem;
    font-weight: bold;
}

.item-desc {
    font-size: 1rem;
}

.item-cmd {
    background-color: black;
    color: white;
    width: 75%;
    font-family: monospace;
}

.copy-button {
    font-size: 1rem;
    margin-right: .25rem;
}

#ee0 {
    position: absolute;
    height: 1rem;
    width: 1rem;
    cursor: not-allowed;
    color: #111111;
    opacity: 0;
    right: 1rem;
    margin-top:-2rem;
}

#ee1 {
    height:30rem;
}

#ee2 {
    background-color: transparent;
    border-color: transparent;
    height: 30rem;
    cursor: default;
}

#ee4 {
    position: absolute;
    border-color: transparent;
    opacity:0;
    height:0;
    width:0;
}

.ee5 {
    filter: grayscale(.5);
}