:root {
    color-scheme: dark;
    --main-background-color: #000000;
    --main-text-color: #FFFFFF;
    --header-borders: #FFFFFF;
    --mc-black: #000000;
    --mc-dark-gray: #555555;
    --mc-gray: #AAAAAA;
    --mc-gold: #FFAA00;
    --mc-dark-purple: #AA00AA;
    --mc-red: #FF5555;
    --mc-yellow: #FFFF55;
    --mc-white: #FFFFFF;
    --tooltip-background: #100010F0;
    --tooltip-border-top: #5000FF50;
    --tooltip-border-bottom: #29008050;
    --jigsaw-gray: #111111;
    --jigsaw-purple: #271C2A;
    --jigsaw-white: #D7C2D7;
    --button-background: #222222;
    --button-text: #FFFFFF;
    --button-background-hover: #111111;
    --button-top: #333333;
    --button-bottom: #000000;
    --scrollbar-background: #00000000;
    --scrollbar-slider: #AAAAAA99;
    --parallax-background: none;

    --font-serif: serif;
    --font-sans: sans-serif;
    --font-mono: monospace;
    --font-mc: 'Minecraft-Seven_v2', var(--font-sans);
}

@font-face {
    font-family: 'Minecraft-Seven_v2';
    src: url('/assets/mojang/Minecraft-Seven_v2.woff') format('woff'),
    url('/assets/mojang/Minecraft-Seven_v2.ttf') format('truetype');
}

* {
    touch-action: manipulation;
    scrollbar-color: var(--scrollbar-slider) var(--scrollbar-background);
}

html {
    background-color: var(--main-background-color);
    color: var(--main-text-color);
    font-family: var(--font-sans);
    font-size: large;
}

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

input, textarea {
    color: var(--mc-white);
    background-color: var(--mc-black);
}

br {
    user-select: none;
    -webkit-user-select: none;
}

#header {
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    background-color: var(--jigsaw-gray);
    font-size: 2rem;
    text-align: center;
}

#footer {
    bottom: 0;
    left: 0;
    right: 0;
    height: 4rem;
    background-color: var(--jigsaw-gray);
    font-size: 1rem;
    text-align: center;
    font-family: var(--font-serif);
}

footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

article {
    flex: 1;
}

.article-width {
    width: min(95%, 70rem);
    margin: auto;
    box-sizing: border-box;
}

img {
    width: 100%;
}

.img-border {
    box-shadow: 0 0 .5rem 0 black;
}

.img-full {
    max-height: 20rem;
    width: auto;
    max-width: 100%;
    height: auto;
}

a {
    color: inherit;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-serif);
}

ul {
    margin: 0;
    padding-top: 0;
    padding-bottom: 0;
}

.inline-list {
    padding-left: 0;
    padding-right: 0;
}

.card-table {
    width: 100%;
    margin: 0;
}

.card-table-row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.card-wrap {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 50%;
    align-content: center;
}

.card-wrap-any {
    border: 0;
    box-sizing: border-box;
    float: left;
    align-content: center;
}

.card-wrap-stable {
    border: 0;
    box-sizing: border-box;
    align-content: center;
}

.card-wrap-full {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 100%;
    align-content: center;
}

.card-wrap-mid {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 66%;
    margin-left: 17%;
    align-content: center;
}

.card-wrap-third {
    border: 0;
    box-sizing: border-box;
    float: left;
    min-height: 3rem;
    width: 33%;
    align-content: center;
    overflow: hidden;
}

.card-wrap-third-small {
    width: 16%;
}

.card-wrap-third-big {
    width: 66%;
}

.card {
    margin: 1.5rem;
    padding: 1rem;
}

.tooltip {
    background-color: var(--tooltip-background);
    border: 4px solid;
    border-image: linear-gradient(to bottom, var(--tooltip-border-top), var(--tooltip-border-bottom));
    border-image-slice: 1;
    box-shadow: 4px 0 0 0 var(--tooltip-background), -4px 0 0 0 var(--tooltip-background), 0 4px 0 0 var(--tooltip-background), 0 -4px 0 0 var(--tooltip-background);
}

.button {
    font-size: large;
    background-color: var(--button-background);
    color: var(--button-text);
    padding: .2rem .5rem .2rem .5rem;
    border-top: .2rem solid var(--button-top);
    border-left: .2rem solid var(--button-top);
    border-right: .2rem solid var(--button-bottom);
    border-bottom: .2rem solid var(--button-bottom);
    user-select: none;
    -webkit-user-select: none;
}
.button:hover {
    background-color: var(--button-background-hover);
}
.button:active {
    border-top: .2rem solid var(--button-bottom);
    border-left: .2rem solid var(--button-bottom);
    border-right: .2rem solid var(--button-top);
    border-bottom: .2rem solid var(--button-top);
}

.button-disabled {
    cursor: not-allowed;
}

.link {
    font-weight: bold;
    cursor: pointer;
}
.link:hover {
    text-decoration: underline;
}

.slider {
    appearance: none;
    background-color: var(--button-background);
    height: .5rem;
    width: 100%;
}
.slider::-webkit-slider-thumb {
    appearance: none;
    width: .75rem;
    height: 1.5rem;
    background-color: var(--jigsaw-white);
}

.text-box {
    resize: none;
    width: 100%;
    height: 20rem;
    font-size: large;
    font-family: inherit;
}

.main-button {
    margin: 0;
    padding: 0;
    margin-top: -1.5rem;
    margin-right: 5rem;
    float: right;
}

.rotatable {
    transform-origin: center center;
    transition: transform .25s ease;
}
.rotate90 {
    transform: rotate(90deg);
}
.rotate180 {
    transform: rotate(180deg);
}

.no-select {
    user-select: none;
    -webkit-user-select: none;
}

.nowrap {
    white-space: nowrap;
}

.center {
    text-align: center;
}

.left {
    text-align: left;
}

.right {
    text-align: right;
}

.bold {
    font-weight: bold;
}

.error {
    color: var(--mc-red);
}

.warn {
    color: var(--mc-yellow);
}

.jigsaw-white {
    color: var(--jigsaw-white);
}

.white {
    color: white;
}

.codeblock {
    font-family: var(--font-mono);
    color: var(--mc-white);
    background-color: var(--mc-black);
    border-left: .05rem solid var(--mc-dark-gray);
    border-top: .05rem solid var(--mc-dark-gray);
    border-bottom: .05rem solid var(--mc-gray);
    border-right: .05rem solid var(--mc-gray);
}

.serif {
    font-family: var(--font-serif);
}

.sans {
    font-family: var(--font-sans);
}

.mono {
    font-family: var(--font-mono);
}

.mc {
    font-family: var(--font-mc);
}

#parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: var(--parallax-background);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    z-index: -1;
}

@media only screen and (max-width: 1000px) {

    .card-wrap-mid {
        margin-left: 0;
        width: 100%;
    }

}

@media only screen and (max-width: 880px) {

    .card-wrap {
        width: 100%;
    }

    .card-wrap-third {
        width: 100%;
    }

    .card-wrap-third-small {
        width: 100%;
    }
    
    .card-wrap-third-big {
        width: 100%;
    }
    
    .main-button {
        margin-right: 1rem;
    }

}