:root {
    --main-background-color: var(--jigsaw-purple);
    --main-text-color: var(--jigsaw-white);
}

h1 {
    margin: 0;
    text-align: center;
    color: var(--mc-white);
}

.main-title {
    margin: 0;
    padding: 0;
    margin-left: 5rem;
    text-align: left;
    color: var(--jigsaw-white);
    font-family: var(--font-sans);
}

@media only screen and (max-width: 880px) {

    .main-title {
        margin-left: 1rem;
    }

}