* {
    font-family: var(--font-mc);
}

.item-subtitle {
    color: var(--mc-gray);
}

.item-header {
    font-size: xx-large;
    margin: 0;
    color: var(--mc-white);
}

.item-name {
    font-size: x-large;
    margin: 0;
    color: var(--mc-white);
}

label {
    color: var(--mc-white);
    font-size: x-large;
}

.uuid-input {
    font-size: large;
    align-self: center;
    width: 90%;
}

#convert-mode {
    max-width: 100%;
}