.copy-button {
    font-size: 1rem;
    margin-right: .25rem;
}

.item-desc {
    font-style: italic;
    color: var(--mc-dark-purple);
    margin-left: 0;
    margin-right: 0;
}

.item-cmd {
    background-color: var(--mc-black);
    color: var(--mc-white);
    width: 100%;
}

.item-copy-wrap {
    border: 0;
    box-sizing: border-box;
}

.item-cmd-wrap {
    border: 0;
    width: 100%;
    box-sizing: border-box;
}

.item-card {
    margin: 1rem;
    padding: 1rem;
}

.card-wrap-item {
    border: 0;
    box-sizing: border-box;
    float: left;
    width: 25%;
    align-content: center;
}

@media only screen and (max-width: 75rem) {

    .card-wrap-item {
        width: 33.333%;
    }

}

@media only screen and (max-width: 64rem) {

    .card-wrap-item {
        width: 50%;
    }

}

@media only screen and (max-width: 55rem) {

    .card-wrap-item {
        width: 100%;
    }

}