.game-wrap {
    background-color: #00000042;
    width: min(90vw, 70rem);
    margin: 1rem auto;
}

.game-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

.game-row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.game-td {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
    background-image: radial-gradient(#88888842, #AAAAAA42);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 .3rem .3rem black;
}

.maps-list-wrap-outer {
    width: calc(min(90vw, 70rem) - 10rem);
    margin: 0;
    height: 10rem;
    overflow: hidden;
}

.maps-list-wrap {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.maps-list-table {
    height: 100%;
    width: auto;
    border: 0;
    border-collapse: collapse;
}

.maps-row {
    height: 100%;
}

.map-td {
    min-width: 8.5rem;
    width: 8.5rem;
    max-width: 8.5rem;
    min-height: 8.5rem;
    height: 8.5rem;
    max-height: 8.5rem;
    box-sizing: border-box;
}

.map-button-wrap {
    background-color: var(--section-clickable);
}

.map-button {
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 8.5rem;
    background-image: radial-gradient(#22222299, #33333399);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 .3rem .3rem black;
}

.map-button:hover {
    box-shadow: inset 0 0 .3rem .3rem white, inset 0 0 10rem 10rem #FFFFFF33;
}

.map-red {
    box-shadow: inset 0 0 .3rem .3rem black, inset 0 0 .5rem .5rem #FF000099;
}

.map-red:hover {
    box-shadow: inset 0 0 .3rem .3rem white, inset 0 0 10rem 10rem #FFFFFF33, inset 0 0 .5rem .5rem #FF000099;
}

.map-name {
    font-size: 1rem;
    color: var(--main-text-color);
    text-shadow: .1rem .1rem 0 var(--main-background-color), .1rem -.1rem 0 var(--main-background-color), -.1rem .1rem 0 var(--main-background-color), -.1rem -.1rem 0 var(--main-background-color), .1rem 0 0 var(--main-background-color), -.1rem 0 0 var(--main-background-color), 0 .1rem 0 var(--main-background-color), 0 -.1rem 0 var(--main-background-color);
}

.map-desc {
    margin: 0;
}

@media only screen and (max-width: 55rem) {

    .game-td {
        float: left;
    }

    .maps-td {
        float: left;
        width: 100%;
    }

    .maps-list-wrap-outer {
        width: min(90vw, 70rem);
    }

}