* {
    scrollbar-color: #aaaaaa99 #00000000;
}

html {
    background-color: black;
    color: white;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

h1 {
    font-size: xx-large;
}

h2 {
    font-size: x-large;
}

p {
    font-family: sans-serif;
    font-size: medium;
}

a {
    color: inherit;
    text-decoration: none;
}

table {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    table-layout: fixed;
    border-spacing: 0;
    width: 100%;
    height: 100%;
}

.header-table {
    width: 66%;
    margin-left: 17%;
    margin-top: 1.5rem;
    margin-bottom: 0;
    text-align: center;
}

.header-table-button {
    padding: .5rem 0 .5rem 0;
}

.section {
    padding: 2rem;
    background-color: #00000099;
    width: min(95%, 70rem);
    margin: 1rem auto;
    box-sizing: border-box;
}

#title-section {
    padding-bottom: 0;
}

.section-group {
    background-color: #00000099;
    width: min(95%, 70rem);
    margin: 1rem auto;
    box-sizing: border-box;
}

.section-header {
    padding: .5rem;
    background-color: #11111199;
    cursor: pointer;
}
.section-header:hover {
    background-color: #333333aa;
}
.section-header:active {
    background-color: #555555aa;
}

.collapse-button {
    background-color: #11111199;
    cursor: pointer;
    user-select: none;
}
.collapse-button:hover {
    background-color: #333333aa;
}
.collapse-button:active {
    background-color: #555555aa;
}

.section-footer {
    padding: .25rem 0 .25rem 0;
}

.section-body {
    padding: 0 2rem;
}

.section-footer-text {
    font-size: medium;
}

.subsection {
    border-top: .2rem solid #888888;
    border-bottom: .2rem solid #888888;
}

.jump-link-wrap {
    width: 66%;
    margin-left: 17%;
    padding-bottom: 1rem;
    color: #FFFF55;
    font-size: medium;
}

.jump-link-header {
    margin-bottom: .5rem;
    text-align: center;
}

.jump-link {
    font-weight: bold;
    cursor: pointer;
}

.text-wrap {
    padding: 2rem;
    background-color: #00000099;
    width: 95%;
    margin: 1rem auto;
    box-sizing: border-box;
}

.game-wrap {
    background-color: #00000042;
    width: min(90%, 70rem);
    margin: 1rem auto;
}

.game-table {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    border-collapse: collapse;
}

.game-row {
    width: 100%;
    margin: 0;
    padding: 0;
}

.game-td {
    width: 10rem;
    height: 10rem;
    padding: 1rem;
    box-sizing: border-box;
    margin: 0;
    background-image: radial-gradient(#88888842, #aaaaaa42);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 .3rem .3rem black;
}

.maps-list-wrap-outer {
    width: calc(min(90vw, 70rem) - 11rem);
    margin: 0;
    height: 10rem;
    overflow: hidden;
}

.maps-list-wrap {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
}

.maps-list-table {
    height: 100%;
    width: auto;
    border: 0;
    border-collapse: collapse;
}

.maps-row {
    height: 100%;
}

.map-td {
    min-width: 8.5rem;
    width: 8.5rem;
    max-width: 8.5rem;
    min-height: 8.5rem;
    height: 8.5rem;
    max-height: 8.5rem;
    box-sizing: border-box;
}

.map-button {
    align-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
    box-sizing: border-box;
    width: 100%;
    height: 8.5rem;
    background-image: radial-gradient(#22222299, #33333399);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 0 .3rem .3rem black;
}

.map-button:hover {
    background-image: radial-gradient(#444444aa, #666666aa);
    box-shadow: inset 0 0 .3rem .3rem white;
}

.map-nolink {
    background-image: radial-gradient(#22000099, #33000099);
    box-shadow: inset 0 0 .3rem .3rem black;
}

.map-nolink:hover {
    background-image: radial-gradient(#22000099, #33000099);
    box-shadow: inset 0 0 .3rem .3rem black;
}

.map-nocustom:hover {
    background-image: radial-gradient(#444444aa, #666666aa);
    box-shadow: inset 0 0 .3rem .3rem red;
}

.map-name {
    font-size: large;
    text-shadow: 2px 2px 0 black, 2px -2px 0 black, -2px 2px 0 black, -2px -2px 0 black;
}

.map-desc {
    margin: 0;
}

.col-wrap {
    width: 50%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
}

.col-wrap-full {
    width: 100%;
    box-sizing: border-box;
    padding: 1rem;
    margin: 0;
}

.pic-wrap {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 60%;
    background-color: black;
    box-shadow: 0 0 .5rem 0 black;
}

.pic {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#control-panel-hidden {
    right: 0;
    width: 4rem;
}

#control-panel {
    right: 4rem;
    margin-right: 1px;
    width: 12rem;
    border-right: #FFFFFFbb 1px solid;
    border-left: #FFFFFFbb 1px solid;
}

.control-panel {
    position: fixed;
    bottom: 4.5rem;
    height: 4rem;
    background-color: #000000ee;
}

.control-panel-button {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    width: 4rem;
    height: 4rem;
    cursor: pointer;
    user-select: none;
    text-align: center;
    font-size: xx-large;
    font-family: sans-serif;
    color: #FFFFFFbb;
}
.control-panel-button:hover {
    background-color: #111111ee;
}

#parallax-background {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

@media only screen and (max-width: 880px) {

    .col-wrap {
        width: 100%;
    }

    .jump-link-wrap {
        width: 100%;
        margin-left: 0;
    }

    .header-table {
        width: 100%;
        margin-left: 0;
    }

    .game-td {
        float: left;
    }

    .maps-td {
        float: left;
        width: 100%;
    }

    .maps-list-wrap-outer {
        width: calc(min(90vw, 70rem) - 1rem);
    }

    #parallax-background {
        height: 200vw;
    }

}