#ee1 {
    height:30rem;
}

#ee2 {
    background-color: transparent;
    border-color: transparent;
    height: 30rem;
    cursor: default;
}

#ee4 {
    position: absolute;
    border-color: transparent;
    opacity:0;
    height:0;
    width:0;
}

.ee5 {
    filter: grayscale(.5);
}